/* 去掉内外边距 */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
}

li {
    list-style: none;
}

/* 顶部导航栏开始 */

.header {
    height: 100px;
    background-color: #fff;
}

.inner {
    width: 1200px;
    margin: 0 auto;
    background-color: red;
    line-height: 100px;
}

.logo {
    float: left;
}

.nav {
    float: right;
}

.nav li {
    margin: 0 20px;
    float: left;
}

.nav li a {
    color: #333;
    text-decoration: none;
}

.nav li a:hover {
    color: rgb(58, 132, 241);
    font-weight: bold;
}

.banner {
    height: 620px;
    background-image: url(./../images/banner.jpg);
}

.service {
    width: 1055px;
    margin: 75px auto 0;
}

.service-head {
    border-top: 2px solid #ccc;
    margin: 0 25px;
}

.service-head h3 {
    width: 163px;
    height: 46px;
    margin: -15px auto 0;
}

.service-head p {
    line-height: 26px;
    color: #666;
    text-align: center;
    width: 830px;
    margin: 15px auto 0;
}

.service-body {
    margin-top: 40px;
}

.service-body li {
    width: 320px;
    height: 510px;
    background-color: red;
    float: left;
}

.sell {
    margin: 0 45px;
}