/* 首页样式 */

.jd {
    position: relative;
}

.jd-inner {
    height: 480px;
    position: relative;
    z-index: 1;
}

.ad {
    height: 480px;
    background: url(../images/bg.png) no-repeat top center;
    position: absolute;
    background-color: pink;
    top: 0;
    left: 0;
    width: 100%;
    /* 一定要写 宽度， position 会转换为行内块，根据内容定宽度 */
}

.ad a {
    width: 100%;
    height: 100%;
    display: block;
}

.jd-col1 {
    height: 465px;
    width: 190px;
    background-color: #6e6568;
    float: left;
    padding-top: 15px;
}

.jd-col1 li {
    height: 28px;
    padding-left: 10px;
    line-height: 28px;
}

.jd-col1 li a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.jd-col1 li:hover {
    background-color: #999395;
    color: #E10216;
}

.jd-col1 li span {
    font-size: 12px;
    color: #FFF;
}

.jd-col2 {
    height: 480px;
    width: 790px;
    background-color: red;
    float: left;
    margin-left: 10px
}

.jd-col3 {
    height: 480px;
    width: 190px;
    background-color: yellow;
    float: right;
}